%h1=  @bookmark.url
=  @bookmark.url
= link_to "Edit", edit_bookmark_path, class: 'btn btn-success'
%p= button_to "Delete Nickmark", bookmark_path(@bookmark), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger'