<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<body>
<p> there should be a like button somewhere</p>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
</body>